// Definition of variables for breakpoints
$bp-xs: 575px;           // <576px (X-Small)              PHONE
$bp-sm: 576px;           // ≥576px (Small)                PHONE
$bp-md: 768px;           // ≥768px (Medium)               TABLET
$bp-lg: 992px;           // ≥992px (Large)                TABLET
$bp-xl: 1200px;          // ≥1200px (Extra large)         DESKTOP
$bp-xxl: 1400px;         // ≥1400px (Extra extra large)   DESKTOP