$font-size-base: 10px;
$font-family-base: 'karasuma-gothic';

// Font weight
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-weight-extra-black: 950;

// Font size - text elements
$font-size-header: 5rem;
$font-size-subheader: 4rem;
$font-size-title: 3.2rem;
$font-size-subtitle: 2.4rem;
$font-size-large: 2rem;
$font-size-body: 1.6rem;
$font-size-small: 1.2rem;

