@use '@src/assets/sass/abstract/typography-statics' as *;

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url('../../fonts/KarasumaGothic-Black.woff') format('woff'),
    url('../../KarasumaGothic-Black.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: italic;
  font-weight: 900;
  src: url('../../fonts/KarasumaGothic-BlackItalic.woff') format('woff'),
    url('../../fonts/KarasumaGothic-BlackItalic.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/KarasumaGothic-Bold.woff') format('woff'),
    url('../../fonts/KarasumaGothic-Bold.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: italic;
  font-weight: 700;
  src: url('../../fonts/KarasumaGothic-BoldItalic.woff') format('woff'),
    url('../../fonts/KarasumaGothic-BoldItalic.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/KarasumaGothic-Italic.woff') format('woff'),
    url('../../fonts/KarasumaGothic-Italic.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/KarasumaGothic-Light.woff') format('woff'),
    url('../../fonts/KarasumaGothic-Light.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: italic;
  font-weight: 300;
  src: url('../../fonts/KarasumaGothic-LightItalic.woff') format('woff'),
    url('../../fonts/KarasumaGothic-LightItalic.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/KarasumaGothic-Medium.woff') format('woff'),
    url('../../fonts/KarasumaGothic-Medium.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: italic;
  font-weight: 500;
  src: url('../../fonts/KarasumaGothic-MediumItalic.woff') format('woff'),
    url('../../fonts/KarasumaGothic-MediumItalic.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/KarasumaGothic-Regular.woff') format('woff'),
    url('../../fonts/KarasumaGothic-Regular.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: normal;
  font-weight: 100;
  src: url('../../fonts/KarasumaGothic-Thin.woff') format('woff'),
    url('../../fonts/KarasumaGothic-Thin.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Karasuma Gothic';
  font-style: italic;
  font-weight: 100;
  src: url('../../fonts/KarasumaGothic-ThinItalic.woff') format('woff'),
    url('../../fonts/KarasumaGothic-ThinItalic.woff2') format('woff2');
  unicode-range: U+000-5FF;
}
